.homeContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #dadada;
  padding: 40px;
}

.title {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}


