.homeContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #dadada;
  padding: 40px;
}

.title {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  display: block;
}

@media screen and (max-width: 992px) {
  .content {
    flex-direction: column;
  }

  .homeContainer {
    padding: 5px 0px;
  }

  .arrow {
    display: none;
  }
}


