.container {
  width: 100%;
  min-height: 100vh;
  background-color: #dadada;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 20px
}